
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*


# Personal access token
# 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